[submodule "arbitrage/lib/forge-std"]
	path = arbitrage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "arbitrage/lib/openzeppelin-contracts"]
	path = arbitrage/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
